* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#25364f, #4d71a5, #ffffff);
}

.container-carousel {
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.carousel-slide {
  display: flex;
  width: 100%;
}

.carousel-slide img {
  max-width: 100%;
}

#prevBtn,
#nextBtn {
  position: absolute;
  top: 50%;
  z-index: 4;
  font-size: 50px;
  color: white;
  cursor: pointer;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

#prevBtn {
  left: 5%;

  /* on first revolution */
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

#nextBtn {
  right: 5%;
}

.message {
  font-size: 4rem;
  font-family: "Dancing Script", cursive;
  color: white;
  /* ref: https://css-tricks.com/adding-stroke-to-web-text/ */
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;

  /* position */
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  z-index: 9999;

  /* transition */
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 1s linear;
}

#message-17 {
  font-size: 5rem;
  transition: visibility 0s, opacity 7s linear;
}
